.teasers-table .col-md-4 {
    direction: rtl;
}

.teasers-table .teaser .media-left {
    padding-left: 0;
    padding-right: unset;
}

.numberClass {
    direction: ltr;
    text-align: center;
}

.contact-form .col-md-6{
    float: right;
    width: 100%;
}